<h3>Links + Notes</h3>

  {%- if site.posts.size > 0 -%}


    <ul class="post-list">
      {% assign n = 0 %}
      {%- for post in site.posts -%}
      {% if post.categories contains "micro" and n < 5 %}
        {% assign n = n | plus: 1 %}
        <li class="post-preview">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
 
          {%- if post.isbn13 -%}
          {% assign bkpath = '/assets/img/book-covers/' | append: post.isbn13 | append: '.jpg' %}
          {% assign bkimg = site.static_files | where: "path",bkpath | first %}
          {% if bkimg %}
            <img src="{{bkpath}}" class="post-img-hero-reading" />
          {% else %}
            {% assign bkpath = '/assets/img/book-covers/' | append: post.isbn13 | append: '.webp' %}
            {% assign bkimg = site.static_files | where: "path",bkpath | first %}
            {% if bkimg %}
              <img src="{{bkpath}}" class="post-img-hero-reading" />
            {% endif %}
          {% endif %}
        {%- endif -%}
        <span class="post-preview-content-reading">
          <span class="title">{{ post.date | date: date_format }} - {{ post.title }} {% if post.book-author %}by {{post.book-author}}{% endif %}</span>
          {{ post.content }} 
      </span>
        </li>
        <li class="post-footer"></li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <div class="button-pink"><a href="/links-and-notes/">more notes &gt;&gt;</a></div>
  {%- endif -%}


