/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 3px solid #ff5197;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    .page-link-icon {
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 5px;
      }
      .svg-icon {
        color:#4a4a4a;
        padding-top: 2px;
      }
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }


  }
}

/**
 * Site Content/Home
**/

  .home.with-link-roll {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row-reverse;
    .home-main {
      max-width:64%;
      padding-right:2%;
    }
    .home-side {
      max-width:31%;
      font-size: 14px;
      margin:0 0 0 2%;
      h3 {
        font-size: 20px; 
        border-bottom: 1px solid $grey-color
      }
    }

    @include media-query($on-palm) {
      .home-main {
        max-width:100%;
        padding-right:0px;
      }
      .home-side {
        max-width:100%;
        margin:0px 0px $spacing-unit 0px;
        border-bottom: 1px solid gray;
        h3 {
          border-bottom: none;
        }
        ul {
          padding-left: 10px;
        }

      }

    }
  }

/**
* Site footer
*/
  .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
  }

  .footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
  }

  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }

  .footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
  }

  .footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }

  @include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }

  @include media-query($on-palm) {
    .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 2rem 0 2rem;
  flex: 1;
  background-image: url('/assets/img//art/4am-mirror-slouch/version_01a.jpg');
  .wrapper {
    padding: 2rem;
    background: white;
  }
  @include media-query($on-palm) {
    padding: -webkit-calc(#{$spacing-unit}*3) 0 $spacing-unit 0;
    padding:         calc(#{$spacing-unit}*3) 0 $spacing-unit 0;
  }
}

.page-heading {
  @include relative-font-size(2);
}


.section-header-row {
  margin-bottom: 2rem;
}




.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  > .post-preview {


    > h3 {
    font-size: 24px;
    }

  }
}

.post-footer {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
  clear: left;
  border-bottom: 1px solid #e8e8e8;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-img {
  //max-height: 30rem;
  padding-bottom: 3%;
}

.post-img-full,
.post-video-full {
  max-width: 100%;
  padding: 3% 0 3% 0;
  > video {
    height: 500px;
  }
}

.gallery {
    padding: 0 0 5% 0;
}

.gallery .post-img-full,
.gallery .post-video-full {
  padding: 5% 0 5% 0;
  border-bottom: 1px solid #e8e8e8;
}

.post-img-hero {
  max-width:66%;
  margin-bottom: 1.5rem;
}

.post-img-hero-small {
  float:left;
  max-width:33%;
  margin: 0.5rem 1rem 1.5rem 0;
}

.post-img-tile {
  max-width:66%;
}


.post-reading-details {

  margin-bottom: 1.5rem;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


.post-block-quote {
  margin: 1rem 0;
  padding: 0 1rem;
  border-left: 1px solid #e8e8e8;
}





.art-list {
  display:inline-grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap:30px;
    padding-top:5px;
    @include media-query($on-palm) {
      grid-template-columns:repeat(1,1fr);

    }
  .art-row {
    @include media-query($on-palm) {
      border-bottom:1px solid #e8e8e8;
      margin-bottom: 1rem;
    }
  }
  .art-img-tile {
      @include media-query($on-palm) {
        margin-bottom: 1rem;
      }
  }
}


/**
 * Writing List
 */
.writing-list {
  display:grid;
  .writing-row {
    display:inline-grid;
    grid-template-columns:1fr 7fr;
    grid-gap:5px;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
    border-bottom:1px solid #e8e8e8;
    @include media-query($on-palm) {
      grid-template-columns:2fr 6fr;
    }

    div{
      padding-right:1rem;
      img {
        //float:left;
        max-width:100%;
        margin: 0;
      }
    }

  }


}

/**
 * About Content
 */
.about-content {
    display:inline-grid;
    grid-template-columns:3fr 5fr;
    grid-gap:5px;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
    border-bottom: none;
    @include media-query($on-palm) {
      grid-template-columns:4fr 4fr;
    }
    div{
      padding-right:1rem;
      img {
        //float:left;
        max-width:100%;
        margin: 0 1rem 1rem 0;
        border-right: 3px solid #ff5197;
        border-bottom: 3px solid #ff5197;
      }
    }

}



/**
 * Project List
 */
.project-list {
  display:grid;
  .project-row {
    display:inline-grid;
    grid-template-columns:1fr 1fr;
    grid-gap:5px;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
    border-bottom:1px solid #e8e8e8;
    @include media-query($on-palm) {
      grid-template-columns:1fr;

    }
    div{
      padding-right:1rem;
      img {
        //float:left;
        max-width:100%;
        margin: 0;
        @include media-query($on-palm) {
          margin-bottom: 1rem;
        }
      }
    }

  }


}


/**
 * Position List
 */
.position-list {
  display:grid;
  .position-row {
    display:inline-grid;
    grid-template-columns:1fr 7fr;
    grid-gap:5px;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
    border-bottom:1px solid #e8e8e8;
    @include media-query($on-palm) {
      grid-template-columns:2fr 6fr;
    }
    div{
      padding-right:1rem;
      img {
        //float:left;
        max-width:100%;
        margin: 0;
      }
    }

  }


}


/**
 * Honor List
 */
.honor-list {
  display:grid;
  .honor-row {
    display:inline-grid;
    grid-template-columns:1fr 7fr;
    grid-gap:5px;
    padding: 0 0 1rem 0;
    margin: 0 0 1rem 0;
    border-bottom:1px solid #e8e8e8;
    @include media-query($on-palm) {
      grid-template-columns:2fr 6fr;
    }
    div{
      padding-right:1rem;
      img {
        //float:left;
        max-width:100%;
        margin: 0;
      }
    }

  }


}







/**
 * Reading List
 */

.book-author-row {
  border-bottom: 1px solid #e8e8e8;
  .book-row {
    display:inline-grid;
    grid-template-columns:1fr 3fr 1fr 1fr;
    grid-gap:5px;
    padding: 0px 0px 30px 0px;
    border-bottom: none;

    .book-cover img {
    max-width: 67%;
    }
  }
}

 .book-row {
    display:inline-grid;
    grid-template-columns:1fr 3fr 1fr 1fr;
    grid-gap:5px;
    padding: 0px 0px 30px 0px;
    border-bottom:1px solid #e8e8e8;

    .book-cover img {
      max-width: 67%;
    }
    }
