---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div>
    <ul class="post-list links-notes-list">
      {%- for post in site.posts -%}
        {%- if post.categories contains "micro" -%}
          <li class="links-notes-row">
            <div>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {%- if post.isbn13 -%}
              {% assign bkpath = '/assets/img/book-covers/' | append: post.isbn13 | append: '.jpg' %}
              {% assign bkimg = site.static_files | where: "path",bkpath | first %}
              {% if bkimg %}
                <img src="{{bkpath}}" class="post-img-hero-reading" />
              {% else %}
                {% assign bkpath = '/assets/img/book-covers/' | append: post.isbn13 | append: '.webp' %}
                {% assign bkimg = site.static_files | where: "path",bkpath | first %}
                {% if bkimg %}
                  <img src="{{bkpath}}" class="post-img-hero-reading" />
                {% endif %}
              {% endif %}
            
            {%- endif -%}
              
              
              {{ post.date | date: date_format }} -
              {{ post.content }}
            </div>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}

</div>