---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- assign date_format = site.minima.date_format | default: "%d %b, %Y" -%}
  {% assign d = "first post" %}

  {%- for b in site.data.biblio -%}
    {% if d != b.date %}
      {% if d != "first post" %}
          </ul>  
        </div>
        <div class="post-footer"></div>    
      {% endif %}
      {% assign d = b.date %}
      <div class = "post-list-date">{{ d | date: date_format }}</div>
      <div>
        <ul class="post-list">
    {% endif %}
          <li class="post-preview">
            <div>
              <a href="{{b.externalLink}}">{{b.note}}</a>
            </div>
          </li>
  {%- endfor -%}
  </ul>  
  </div> 


</div>