---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.img -%}
      <div class="post-img-full"><img src="/assets/img/{{page.img}}" class="post-img" /></div>
    {%- endif -%}

    {%- if page.vid -%}
      <div class="post-video-full">
        <video controls >
          <source src="/assets/video/{{page.vid}}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
    {%- endif -%}


    {%- if page.categories contains "reading" -%}
      {%- assign book = site.data.reading | where: "ISBN13", page.isbn13 | first -%}
        <div class="post-img-full">
          <img src="/assets/img/book-covers/{{book.ISBN13}}.jpg" class="post-img" />
          <!--<img src="http://covers.openlibrary.org/b/isbn/{{ book.ISBN13 }}-L.jpg" class="post-img" />-->
        </div>
        <div class="post-reading-details">
          <a href= "https://bookshop.org/books?keywords={{ book.ISBN13 }}"">{{ book.Title }}</a>
          <br/>
          {{ book.Author }}
          <br/>
          {%- for r in (1..book.MyRating) -%}
            &#10026;&nbsp;
          {%- endfor -%}
        </div>
    {%- endif -%}

    {{ content }}

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">| Previous |</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">| Next |</a>
  {% endif %}
</div>


    {%- if page.gallery -%}
      {%- for image in page.gallery -%}
        <div class="post-img-full">
          <img src="/assets/img/{{image}}"/>
        </div>
      {%- endfor -%}
    {%- endif -%}



  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
