---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- unless page.gallery -%}
      {%- if page.img -%}
        <div class="post-img-full"><img src="/assets/img/{{page.img}}" class="post-img" /></div>
        {%- endif -%}
    {%- endunless -%}
    {%- if page.vid -%}
      <div class="post-video-full">
        <video controls >
          <source src="/assets/video/{{page.vid}}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
    {%- endif -%}


    {%- if page.categories contains "reading" -%}
      {%- assign book = site.data.reading | where: "ISBN13", page.isbn13 | first -%}
        <div class="post-img-full">
        {% assign bkpath = '/assets/img/book-covers/' | append: page.isbn13 | append: '.jpg' %}
        {% assign bkimg = site.static_files | where: "path",bkpath | first %}
        {% if bkimg %}
          <img src="{{bkpath}}" class="post-img" />
        {% else %}
          {% assign bkpath = '/assets/img/book-covers/' | append: page.isbn13 | append: '.webp' %}
          {% assign bkimg = site.static_files | where: "path",bkpath | first %}
          {% if bkimg %}
            <img src="{{bkpath}}" class="post-img" />
          {% endif %}
        {% endif %}
      </div>
      <div class="post-reading-details">
        <a href= "https://bookshop.org/books?keywords={{ book.ISBN13 }}"">{{ book.Title }}</a>
        <br/>
        {{ book.Author }}
        <br/>
        {%- for r in (1..book.MyRating) -%}
          &#10026;&nbsp;
        {%- endfor -%}
      </div>
    {%- endif -%}

    {{ content }}



    {%- if page.gallery -%}
    <div class="gallery">
      {%- for image in page.gallery -%}
        <div class="post-img-full gallery">
          <img src="/assets/img/{{image}}"/>
        </div>
      {%- endfor -%}
    </div>
    {%- endif -%}

    <div class="PageNavigation">
      {% if page.categories %}
        {% assign category = page.categories[0] %}
        {% assign posts = site.categories[category] %}
        {% for post in posts %}
          {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
          {% endif %}
        {% endfor %}
        {% for post in posts %}
          {% if post_index0 == forloop.index %}
            {% assign next_post = post %}
          {% endif %}
          {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {%- if prev_post -%}
        <a class="prev" href="{{prev_post.url}}">| Previous |</a>
      {%- endif -%}
      {%- if next_post -%}
        <a class="next" href="{{next_post.url}}">| Next |</a>
      {%- endif -%}
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
