---
layout: default
---

{% if page.filter %}
  {% assign titlesFilter = page.filter %}
{% elsif page.readingSearch %}
  {% assign readingSearch = page.readingSearch %}
{% elsif page.authorsFilter %}
  {% assign authorsFilter = page.authorsFilter %}
{% elsif page.displayYear %}
  {% assign yearFilter = page.displayYear %}
{% else %}
  {% assign yearFilter = site.readingYears.last.displayYear %}
{% endif %}

{% assign bookCount = 0 %}


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  Books: on balance, I'm for them. These are most of the ones I've read since 2007 or so. The star ratings correspond more closely to "how worth my time this felt" than "how good this is."
  {{ content }}

  <!-- SECOND LEVEL NAV -->
  <div class="reading-nav-second">
    <div class="reading-nav-second-item">
      <a href="{{site.readingYears.last.url}}" class="left {% if yearFilter and yearFilter != "" and yearFilter != nil %}current-view{% endif %}">
        {% if yearFilter and yearFilter != "" and yearFilter != nil %}
          [ years ]
        {% else %}
          &nbsp;&nbsp;years&nbsp;&nbsp;
        {% endif %}
      </a>
    </div>
    <div class="reading-nav-second-item">
      <a href="{{site.readingAuthors[0].url}}" {% if authorsFilter and authorsFilter != "" and authorsFilter != nil %}class="current-view"{% endif %}>
        {% if authorsFilter and authorsFilter != "" and authorsFilter != nil %}
          [ authors ]
        {% else %}
          &nbsp;&nbsp;authors&nbsp;&nbsp;
        {% endif %}
      </a>
    </div>
    <div class="reading-nav-second-item">
      <a href="{{site.readingTitles[0].url}}" class="{% if titlesFilter and titlesFilter != "" and titlesFilter != nil %}current-view{% endif %}">
        {% if titlesFilter and titlesFilter != "" and titlesFilter != nil %}
          [ titles ]
        {% else %}
          &nbsp;&nbsp;titles&nbsp;&nbsp;
        {% endif %}
      </a>
    </div>
    <div class="reading-nav-second-item">
      <a href="/reading/search/" class="right {% if readingSearch and readingSearch != "" and readingSearch != nil %}current-view{% endif %}">
      {% if readingSearch and readingSearch != "" and readingSearch != nil %}
        [ search ]
      {% else %}
        search
      {% endif %}
      </a>
    </div>
    <br/>
  </div>

  <!-- THIRD LEVEL NAV -->
  {% if readingSearch and readingSearch != "" and readingSearch != nil %}
  <div class="reading-nav-third">  <!-- SEARCH -->
    <div class="reading-nav-search">
      <form class="form" id="reading-search-form">
          <input id="reading-search-input" type="text" class="input" placeholder="search..."/>
          <button id="reading-search-button" class="button-pink clear-results">search</button>
      </form>
    </div>
    <div id="reading-search-results">
      ☝
    </div>
    <br/><br/>
  </div>

  {% elsif titlesFilter and titlesFilter != "" and titlesFilter != nil %}
  <div class="reading-nav-third">
    {% for rt in site.readingTitles %}
      {% if rt.filter != titlesFilter %}
        <a href="{{rt.url}}">
      {% endif %}
      {{ rt.display }}
      {% if rt.filter != titlesFilter %}
        </a>
      {% endif %}
      {% if rt.display != site.readingTitles.last.display %}
        |
      {% endif %}
    {% endfor %}
    <br/><br/>
  </div>

  {% elsif authorsFilter and authorsFilter != "" and authorsFilter != nil %}
  <div class="reading-nav-third" >
    {% for ra in site.readingAuthors %}
      {% if ra.authorsFilter != authorsFilter %}
        <a href="{{ra.url}}">
      {% endif %}
      {{ ra.displayAuthors }}
      {% if ra.authorsFilter != authorsFilter %}
        </a>
      {% endif %}
      {% if ra.displayAuthors != site.readingAuthors.last.displayAuthors %}
        |
      {% endif %}
    {% endfor %}
    <br/><br/>
  </div>

  {% elsif yearFilter and yearFilter != "" and yearFilter != nil %}
  <div class="reading-nav-third" >
    {% if page.displayYear %}
      {% for ry in site.readingYears reversed %}
        {% if ry.displayYear != yearFilter %}
          <a href="{{ry.url}}">
        {% endif %}
        {{ ry.displayYear }}
        {% if ry.displayYear != yearFilter %}
          </a>
        {% endif %}
        {% if ry.displayYear != 2007 %}
          |
        {% endif %}
      {% endfor %}
    {% endif %}
    <br/><br/>
  </div>
  {% endif %}


  <div class="book-rows-wrapper">

    {% comment %}
    ################## IF TITLES VIEW ##################
    {% endcomment %}

      {% if titlesFilter and titlesFilter != "" and titlesFilter != nil %}

        {% assign booksByTitle = site.data.reading | sort_natural %}
        {% for b in booksByTitle %}

          {% assign titleFirstLetter = b.Title | slice: 0,1 | downcase %}
            {% for tf in titlesFilter %}
              {% if titleFirstLetter == tf %}
                {% assign isbn = b.ISBN13 | remove: '=' | remove: '"' %}
                {% include book-row.html %}
              {% endif %}
            {% endfor %}

        {% endfor %}


    {% comment %}
    ################## IF AUTHORS VIEW ##################
    {% endcomment %}

      {% elsif authorsFilter and authorsFilter != "" and authorsFilter != nil %}

        {%- for b in site.data.reading -%}
          {% if b.Authors and b.Authors != "" and b.Authors != nil %}
            {% assign authors = b.Authors | split: "|" %}
            {% for a in authors %}
              {% assign authorLastInitial = a | slice: 0,1 | downcase %}
              {% for af in authorsFilter %}
                {% if authorLastInitial == af  %}
                  {% assign authorsIndex = authorsIndex | append: a | append: '|'  %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endif %}
        {% endfor %}

        {% assign authorsIndex = authorsIndex | split: "|" %}
        {% assign authorsIndex = authorsIndex | sort_natural | uniq %}

        {% for ai in authorsIndex %}
          <div style="" class="book-author-row" id="{{ ai }}">
            <h2>{{ ai }}</h2>

            {% for b in site.data.reading %}
              {% assign authorsBook = b.Authors | split: "|" %}
              {% for ab in authorsBook %}
                {% if ab == ai %}
                  {% assign isbn = b.ISBN13 | remove: '=' | remove: '"' %}
                  {% include book-row.html %}
                {% endif %}
              {% endfor %}
            {% endfor %}

          </div>
        {% endfor %}


    {% comment %}
    ################## IF YEARS VIEW ##################
    {% endcomment %}


      {% elsif yearFilter and yearFilter != "" and yearFilter != nil %}
        {% for b in site.data.reading %}

          {% if yearFilter and yearFilter != "" and yearFilter != nil %}
            {% assign yearRead = b.DateRead | slice: 0,4 | times: 1 %}
            {% if yearRead == yearFilter  %}
              {% assign addRow = 1 %}
            {% endif %}
          {% endif %}

          {% if addRow == 1 %}
            {% assign bookCount = bookCount | plus: 1 %}
            {% assign isbn = b.ISBN13 | remove: '=' | remove: '"' %}
            {% include book-row.html %}
          {% endif %}
          {% assign addRow = 0 %}

        {% endfor %}
      {% endif %}


    {% comment %}
    ################## READING COUNT ##################
    {% endcomment %}

      {% assign count = site.data.reading.size | plus: site.data.goodreads.size %}

      {% if yearFilter and yearFilter != "" and yearFilter != nil %}
        {{ yearFilter }} total: {{ bookCount }}
      {% endif %}

  </div>

</div>
