---
layout: default
---

<!-------
TODO
- multiple authors for GOODREADS
- alphabetical sorting of authors by last name instead of First
- consider last, first modeling in reading.csv to assist with sorts and consistent authorLastInitial
  - note that goodreads has this already in the data
- consider author role issue - ed, trans, so forth - do I care
- standardized bookrow layout - goodreads vs New
  - mvc separation for bookrows to standardize THIS
    - sorting of books by title
- total counts at bottom of page - fix hacked logic
- multiple author names in bookrows & weirdness

--->


{% if page.authorsFilter %}
  {% assign authorsFilter = page.authorsFilter %}
{% elsif page.displayYear %}
  {% assign yearFilter = page.displayYear %}
{% else %}
  {% assign yearFilter = site.readingYears.last.displayYear %}
{% endif %}

{% assign bookCount = 0 %}


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  Books: on balance, I'm for them. These are most of the ones I've read since 2007 or so. The star ratings correspond more closely to "how worth my time this felt" than "how good this is."
  {{ content }}

  <!-- SECOND LEVEL NAV -->
  <div style="grid-template-columns:repeat(1,1fr);grid-gap:30px;padding-top:5px;">
    <a href="{{site.readingYears.last.url}}">Years</a> | <a href="{{site.readingAuthors[0].url}}">Authors</a>
    <br/>
  </div>

  <!-- THIRD LEVEL NAV -->
  <!-- IF AUTHORS -->
  {% if authorsFilter and authorsFilter != "" and authorsFilter != nil %}
  <div style="grid-template-columns:repeat(1,1fr);grid-gap:30px;padding-top:5px;">
    {% for ra in site.readingAuthors %}
      {% if ra.authorsFilter != authorsFilter %}
        <a href="{{ra.url}}">
      {% endif %}
      {{ ra.displayAuthors }}
      {% if ra.authorsFilter != authorsFilter %}
        </a>
      {% endif %}
      {% if ra.displayAuthors != "Z" %}  <!-- TODO can we generalize this  - .last, whatever -->
        |
      {% endif %}
    {% endfor %}
    <br/><br/>
  </div>

  <!-- IF YEARS (DEFAULT) -->
  <div style="grid-template-columns:repeat(1,1fr);grid-gap:30px;padding-top:5px;">
  {% elsif yearFilter and yearFilter != "" and yearFilter != nil %}
    {% if page.displayYear %}
      {% for ry in site.readingYears reversed %}
        {% if ry.displayYear != yearFilter %}
          <a href="{{ry.url}}">
        {% endif %}
        {{ ry.displayYear }}
        {% if ry.displayYear != yearFilter %}
          </a>
        {% endif %}
        {% if ry.displayYear != 2007 %}
          |
        {% endif %}
      {% endfor %}
    {% endif %}
    <br/><br/>
  </div>
  {% endif %}


  <!-- CONTENT -->
  <div style="display:inline-grid;grid-template-columns:repeat(1,1fr);grid-gap:30px;padding-top:5px;">


  <!-- IF AUTHORS VIEW -->
    <!--- build relevant index of authors -->
    {% if authorsFilter and authorsFilter != "" and authorsFilter != nil %}

      <!-- first get authors from post-goodreads -->
      {%- for b in site.data.reading -%}
        {% if b.Authors and b.Authors != "" and b.Authors != nil %}
          {% assign authors = b.Authors | split: "|" %}
          {% for a in authors %}
            {% assign authorLastInitial = a | slice: 0,1 | downcase %}
            {% for af in authorsFilter %}
              {% if authorLastInitial == af  %}
                {% assign authorsIndex = authorsIndex | append: a | append: '|'  %}  <!-- since we're abusing Liquid, use a second delimeter to hack up a 2d array -->
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endif %}
      {% endfor %}

      <!-- now get authors from goodreads -->
      {% for b in site.data.goodreads %}
        {% if b.ExclusiveShelf == "read" %}
            {% assign authorLastInitial = b.AuthorLF | slice: 0,1 | downcase %}
            {% for af in authorsFilter %}
              {% if authorLastInitial == af %}
                {% assign aLF = b.AuthorLF %}
                {% assign authorsIndex = authorsIndex | append: aLF | append: "|"  %}  <!-- and again.. -->
              {% endif %}
            {% endfor %}
        {% endif %}
      {% endfor %}

      <!-- finally, dedupe and sort the combined list-->
      {% assign authorsIndex = authorsIndex | split: "|" %}  <!-- now flatten back down to 1d (treating the remaining ,s as parts of strings )-->
      {% assign authorsIndex = authorsIndex | sort_natural | uniq %}

    <!-- now build view, including finding relevant books -->
    {% for ai in authorsIndex %}
      
    <div style="" class="book-author-row">
      <h2>{{ ai  }}</h2>  <!-- ############################################ -->

      <!-- first add rows for post-goodreads -->
      {% for b in site.data.reading %}
        {% assign authorsBook = b.Authors | split: "|" %}
        {% for ab in authorsBook %}
          {% if ab == ai %}
            {% assign bookCount = bookCount | plus: 1 %}
            <div style="" class="book-row">
              <span class="book-cover">
                {% assign isbn = b.ISBN13 | remove: '=' | remove: '"' %}
                {%- if isbn and isbn.size == 13 -%}
                  {% assign bkpath = '/assets/img/book-covers/' | append: isbn | append: '.jpg' %}
                  {% assign bkimg = site.static_files | where: "path",bkpath | first %}
                  {% if bkimg %}
                    <img src="{{bkpath}}" />
                  {% else %}
                    {% assign bkpath = '/assets/img/book-covers/' | append: isbn | append: '.webp' %}
                    {% assign bkimg = site.static_files | where: "path",bkpath | first %}
                    {% if bkimg %}
                      <img src="{{bkpath}}" />
                    {% endif %}
                  {% endif %}
                {%- endif -%}
              </span>
              <span class="book-title">
                {%- if b.externalLink -%}
                  <a href="{{b.externalLink}}">
                {%- elsif isbn -%}
                  <a href="https://bookshop.org/books?keywords={{ isbn | escape }}">
                {%- endif -%}
                {{ b.Title }}
                {%- if isbn or b.externalLink -%}
                  </a>
                {%- endif -%}



                {%- if b.Authors -%}
                <br/>
              
                {% assign authors = b.Authors | split: "|" %}
  
                {% if authors.size > 1 %}
                w/
                  {% for aTemp in authors %}
                    {% assign authorFirstName = "" %}
                    {% assign authorLastName = "" %}
                    {% assign authorTitle = "" %}
                    {% if aTemp != ai %}
                      {% assign author = aTemp | split: "," %}
                      
                      
                      {% assign authorLastName = author[0] | strip %}
                      {% assign numNames = author.size | minus: 1 %} <!-- this annoyingly has to be done this way instead of inline to help liquid with casting-->
                      {% if numNames > 0 %}
                        {% assign authorFirstName = author[1] | strip %}
                        {% if numNames > 1 %}
                          {% assign authorTitle = author[2] | strip %}
                        {% endif %}
                      {% endif %}
                      
                      {% if authorFirstName %}{{ authorFirstName }}&nbsp;{% endif %}{{ authorLastName }}{% if authorTitle and authorTitle != "" %}&nbsp;{{ authorTitle }}{% endif %}{% if aTemp != authors.last %},{% endif %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {%- endif -%}

              {% assign rpost = site.posts | where: "isbn13", isbn | first %}
              {%- if rpost -%}
                <p>
                  <br/>
                  {{ rpost.content | strip_html | truncatewords: 25 }}
                  <a href="{{ rpost.url }}">more &gt;&gt;</a>&nbsp;
                </p>
              {%- endif -%}
              </span>
              <span class="book-date">
                {{ b.DateRead | date: "%B %d %Y" }}
              </span>
              <span class="book-rating">
                {%- for r in (1..b.MyRating) -%}
                  &#10026;&nbsp;
                {%- endfor -%}
              </span>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}

    <!-- now add rows for goodreads -->
    {% for b in site.data.goodreads %}
      {% if b.ExclusiveShelf == "read" %}
        {% assign bAuth = b.AuthorLF  %}
        {% if bAuth == ai %}
        <div style="" class="book-row">

          <span class="book-cover">
            {% assign isbn = b.ISBN13 | remove: '=' | remove: '"' %}
            {%- if isbn and isbn.size == 13 -%}
              {% assign bkpath = '/assets/img/book-covers/' | append: isbn | append: '.jpg' %}
              {% assign bkimg = site.static_files | where: "path",bkpath | first %}
              {% if bkimg %}
                <img src="{{bkpath}}" />
              {% else %}
                {% assign bkpath = '/assets/img/book-covers/' | append: isbn | append: '.webp' %}
                {% assign bkimg = site.static_files | where: "path",bkpath | first %}
                {% if bkimg %}
                  <img src="{{bkpath}}" />
                {% endif %}
              {% endif %}
            {%- endif -%}
          </span>
          <span class="book-title">
            {%- if isbn -%}
              <a href="https://bookshop.org/books?keywords={{ isbn | escape }}">
            {%- endif -%}
            {{ b.Title }}
            {%- if isbn -%}
              </a>
            {%- endif -%}

            {%- if b.Author -%}
              <br/>
              {{ b.Author }}
              {%- if b.AdditionalAuthors -%}
                <br/>
                {{ b.AdditionalAuthors }}
              {%- endif -%}
            {%- endif -%}
            {%- if b.MyReview -%}
              <p>
                <br/>
                {{ b.MyReview }}
              </p>
            {%- endif -%}
          </span>
          <span class="book-date">
            {%- if b.DateRead -%}
              {{ b.DateRead | date: "%B %d %Y" }}
            {%- else -%}
              {{ b.DateAdded | date: "%B %d %Y" }}
            {%- endif -%}
          </span>
          <span class="book-rating">
            {%- for r in (1..b.MyRating) -%}
              &#10026;&nbsp;
            {%- endfor -%}
          </span>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}





    </div>
    {% endfor %}
  {% endif %}



<!-- IF YEARS VIEW -->
  <!---------------------------------------->
  <!-- FIRST WE DO POST-GOODREADS RECORDS -->

  {%- for b in site.data.reading -%}

    <!-- IF AUTHORS -->
    <!--- TODODO TODO Remove this whole section and refactor -->
    {% if authorsFilter and authorsFilter != "" and authorsFilter != nil %}
      {% assign addRow = 0 %}

    <!-- IF YEARS -->
    {% elsif yearFilter and yearFilter != "" and yearFilter != nil %}
      {% assign yearRead = b.DateRead | slice: 0,4 | times: 1 %}
      {% if yearRead == yearFilter  %}
        {% assign addRow = 1 %}
      {% endif %}
    {% endif %}

    <!-- now actually build the content -->
    {% if addRow == 1 %}
      {% assign bookCount = bookCount | plus: 1 %}
      {% assign isbn = b.ISBN13 | remove: '=' | remove: '"' %}
      <div class="book-row" id="{{ isbn }}">
        <span class="book-cover">
          {% assign isbn = b.ISBN13 | remove: '=' | remove: '"' %}
          {%- if isbn and isbn.size == 13 -%}
            {% assign bkpath = '/assets/img/book-covers/' | append: isbn | append: '.jpg' %}
            {% assign bkimg = site.static_files | where: "path",bkpath | first %}
            {% if bkimg %}
              <img src="{{bkpath}}" />
            {% else %}
              {% assign bkpath = '/assets/img/book-covers/' | append: isbn | append: '.webp' %}
              {% assign bkimg = site.static_files | where: "path",bkpath | first %}
              {% if bkimg %}
                <img src="{{bkpath}}" />
              {% endif %}
            {% endif %}
          {%- endif -%}
        </span>
        <span class="book-title">
          <p>
            {%- if b.externalLink -%}
              <a href="{{b.externalLink}}">
            {%- elsif isbn -%}
              <a href="https://bookshop.org/books?keywords={{ isbn | escape }}">
            {%- endif -%}
            {{ b.Title }}
            {%- if isbn or b.externalLink -%}
              </a>
            {%- endif -%}

            {%- if b.Authors -%}
              <br/>
            
              {% assign authors = b.Authors | split: "|" %}

              {% if authors.size > 0 %}
                {% for aTemp in authors %}
                  {% assign authorFirstName = "" %}
                  {% assign authorLastName = "" %}
                  {% assign authorTitle = "" %}
                  {% if aTemp != ai %}
                    {% assign author = aTemp | split: "," %}
                    
                    
                    {% assign authorLastName = author[0] | strip %}
                    {% assign numNames = author.size | minus: 1 %} <!-- this annoyingly has to be done this way instead of inline to help liquid with casting-->
                    {% if numNames > 0 %}
                      {% assign authorFirstName = author[1] | strip %}
                      {% if numNames > 1 %}
                        {% assign authorTitle = author[2] | strip %}
                      {% endif %}
                    {% endif %}
                    
                    {% if authorFirstName %}{{ authorFirstName }}&nbsp;{% endif %}{{ authorLastName }}{% if authorTitle and authorTitle != "" %}&nbsp;{{ authorTitle }}{% endif %}{% if aTemp != authors.last %},{% endif %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {%- endif -%}
          </p>
          {% assign rpost = site.posts | where: "isbn13", isbn | first %}
          {%- if rpost -%}
            <p>
              <br/>
              {{ rpost.content | strip_html | truncatewords: 50 }}
              <a href="{{ rpost.url }}">more &gt;&gt;</a>&nbsp;
            </p>
          {%- endif -%}
            
          <!-- this is where we check reading-backlinks for related reading -->
          <p>
            {% assign backlinksSwitch = false %}
            {% for l in site.data.reading-backlinks %}
              {% if l.ISBN13a == b.ISBN13 %}
                {% assign linkISBN13 = l.ISBN13b %}
              {% elsif l.ISBN13b == b.ISBN13 %}
                {% assign linkISBN13 = l.ISBN13a %}
              {% else %}
                {% assign linkISBN13 = "" %}
              {% endif %} 
              
              {% if linkISBN13 != "" %}
                {% if backlinksSwitch == false %}
                  Made me think about:<br/>
                {% endif %}
                
                {% assign backlinksSwitch = true %}
                {%- for b in site.data.reading -%}
                  {% if b.ISBN13 == linkISBN13 %}
                  - <a href="/reading/years/{{b.DateRead | date: '%Y' }}#{{ linkISBN13 }}">{{b.Title}}</a></br>
                  {% endif %}
                {%- endfor -%} 
                {% for b in site.data.goodreads %}
                  {% assign isbn = b.ISBN13 | remove: '=' | remove: '"' %}
                  {%- if isbn and isbn.size == 13 -%}
                    {% if isbn == linkISBN13 %}
                    {%- if b.DateRead -%}
                      {% assign yearRead = b.DateRead | slice: 0,4 %}
                        {%- else -%}
                      {% assign yearRead = b.DateAdded | slice: 0,4 %}
                    {%- endif -%}
                    {% assign yearRead = yearRead | times: 1 %}
                    - <a href="/reading/years/{{ yearRead }}#{{ linkISBN13 }}">{{b.Title}}</a></br>
                    {% endif %}
                  {%- endif -%}
                {% endfor %}
              {% endif %}

            {% endfor %}
          </p>    
    
        </span>
        <span class="book-date">
          {{ b.DateRead | date: "%d %b %Y" }}
        </span>
        <span class="book-rating">
          {%- for r in (1..b.MyRating) -%}
            &#10026;&nbsp;
          {%- endfor -%}
        </span>
      </div>
    {% endif %}

    {% assign addRow = 0 %}
  {%- endfor -%}



<!---------------------------------------->
<!-- NOW WE DO YE OLDE GOODREADS RECORDS -->
{%- for b in site.data.goodreads -%}
  {%- if b.ExclusiveShelf == "read" -%}
    <!-- IF AUTHORS -->
    {% if authorsFilter and authorsFilter != "" and authorsFilter != nil %}

          {% assign addRow = 0 %}


    <!-- IF YEARS (DEFAULT) -->
    {% elsif yearFilter and yearFilter != "" and yearFilter != nil %}
      {%- if b.DateRead -%}
        {% assign yearRead = b.DateRead | slice: 0,4 %}
      {%- else -%}
        {% assign yearRead = b.DateAdded | slice: 0,4 %}
      {%- endif -%}
      {% assign yearRead = yearRead | times: 1 %}
      {% if yearRead == yearFilter  %}
        {% assign addRow = 1 %}
        {% endif %}
    {% endif %}
  {%- endif -%}

<!-- now actually build the CONTENT -->
  {% if addRow == 1 %}
    {% assign bookCount = bookCount | plus: 1 %}
    {% assign isbn = b.ISBN13 | remove: '=' | remove: '"' %}

    <div class="book-row" id="{{isbn}}">

      <span class="book-cover">
        {%- if isbn and isbn.size == 13 -%}
          {% assign bkpath = '/assets/img/book-covers/' | append: isbn | append: '.jpg' %}
          {% assign bkimg = site.static_files | where: "path",bkpath | first %}
          {% if bkimg %}
            <img src="{{bkpath}}" />
          {% else %}
            {% assign bkpath = '/assets/img/book-covers/' | append: isbn | append: '.webp' %}
            {% assign bkimg = site.static_files | where: "path",bkpath | first %}
            {% if bkimg %}
              <img src="{{bkpath}}" />
            {% endif %}
          {% endif %}
        {%- endif -%}
      </span>
      <span class="book-title">
        <p>
          {%- if isbn -%}
            <a href="https://bookshop.org/books?keywords={{ isbn | escape }}">
          {%- endif -%}
          {{ b.Title }}
          {%- if isbn -%}
            </a>
          {%- endif -%}

          {%- if b.Author -%}
            <br/>
            {{ b.Author }}
            {%- if b.AdditionalAuthors -%}
              <br/>
              {{ b.AdditionalAuthors }}
            {%- endif -%}
          {%- endif -%}
          {%- if b.MyReview -%}
            <p>
              <br/>
              {{ b.MyReview }}
            </p>
          {%- endif -%}
        </p>
        <!-- variable names here are super confusing - deconflict once proper design is in place -->
        <p>
          {% assign backlinksSwitch = false %}
          {% for l in site.data.reading-backlinks %}
            {% if l.ISBN13a == isbn %}
              {% assign linkISBN13 = l.ISBN13b %}
            {% elsif l.ISBN13b == isbn %}
              {% assign linkISBN13 = l.ISBN13a %}
            {% else %}
              {% assign linkISBN13 = "" %}
            {% endif %} 

            {% if linkISBN13 != "" %}
              {% if backlinksSwitch == false %}
                Made me think about:
                <br/>
              {% endif %}

              {% assign backlinksSwitch = true %}
              {%- for b in site.data.reading -%}
                {% if b.ISBN13 == linkISBN13 %}
                - <a href="/reading/years/{{b.DateRead | date: '%Y' }}#{{ linkISBN13 }}">{{b.Title}}</a></br>
                {% endif %}
              {%- endfor -%} 

              {% for b in site.data.goodreads %}
                {% assign isbn2 = b.ISBN13 | remove: '=' | remove: '"' %}
                {%- if isbn2 and isbn.size == 13 -%}
                  {% if isbn2 == linkISBN13 %}
                    {%- if b.DateRead -%}
                      {% assign yearRead = b.DateRead | slice: 0,4 %}
                    {%- else -%}
                      {% assign yearRead = b.DateAdded | slice: 0,4 %}
                    {%- endif -%}
                    {% assign yearRead = yearRead | times: 1 %}
                    - <a href="/reading/years/{{ yearRead }}#{{ linkISBN13 }}">{{b.Title}}</a></br>
                  {% endif %}
                {%- endif -%}
              {% endfor %}
            {% endif %}

          {% endfor %}
        </p>  

      </span>
      <span class="book-date">
        {%- if b.DateRead -%}
          {{ b.DateRead | date: "%d %b %Y" }}
        {%- else -%}
          {{ b.DateAdded | date: "%d %b %Y" }}
        {%- endif -%}
      </span>
      <span class="book-rating">
        {%- for r in (1..b.MyRating) -%}
          &#10026;&nbsp;
        {%- endfor -%}
      </span>
    </div>

  {% endif %}
  {% assign addRow = 0 %}
{%- endfor -%}

  <!-------------------------------->
  <!-------------------------------->

  {% assign count = site.data.reading.size | plus: site.data.goodreads.size %}

<!-- cruft cruft -->
  {% if authorsFilter and authorsFilter != "" and authorsFilter != nil %}
  {% elsif yearFilter and yearFilter != "" and yearFilter != nil %}
    {{ yearFilter }} total: {{ bookCount }}
  {% endif %}
</div>
