---
layout: default
---

<div class="home">
  {%- if page.title -%}
   <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

<h2>Research + Reports</h2>

    <ul class="post-list writing-list">
      {%- for p in site.data.publications -%}
      {%- if p.category == "report" or p.category == "research" -%}
        <li class="writing-row">
          <div>
            {%- if p.image -%}
              <img src="/assets/img/{{p.image}}" class="post-img-hero" />
            {%- endif -%}
          </div>
          <div>
            {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
            {%- if p.externalLink -%}
              <a href="{{ p.externalLink }}" class="external">
            {%- endif -%}
            {{ p.title | escape }}
            {%- if p.externalLink -%}
              </a>
            {%- endif -%}
            <br/><span class="post-meta">{{p.publisher}}, {{ p.date | date: date_format }}</span>
          </div>
        </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>


<h2>Articles + other Publications</h2>
<ul class="post-list writing-list">
  {%- for p in site.data.publications -%}
  {%- if p.category == "article" -%}
    <li class="writing-row">
      <div>
        {%- if p.image -%}
          <img src="/assets/img/{{p.image}}" class="post-img-hero" />
        {%- endif -%}
      </div>
      <div>
        {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
        {%- if p.externalLink -%}
          <a href="{{ p.externalLink }}" class="external">
        {%- endif -%}
        {{ p.title | escape }}
        {%- if p.externalLink -%}
          </a>
        {%- endif -%}
        <br/><span class="post-meta">{{p.publisher}}, {{ p.date | date: date_format }}</span>
      </div>
    </li>
  {%- endif -%}
  {%- endfor -%}
</ul>


</div>
